.calculator {
    height:680px;
    width: 410px;
    border-radius: 10px;
    overflow: hidden;
    background-color: darkslategray;
    box-shadow: 5px 5px 10px black;
}
#keyboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    background-color: rgb(6, 61, 61);
}
.alert {
    position: absolute;
    top: 0;
}

@media screen and (max-width:400px) {
    .calculator {
        height:651px;
        width: 385px;
    }
}