
.App-logo {
    height: calc(25px + 2vmin);
    pointer-events: none; 
    position: relative;
}
.logo-container {
    position: relative;
    width: calc(30px + 2vmin);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
  
.App-header {
    color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 2vmin);
}
h1 {
    font-family:'Digital-7','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 10px;
    font-weight: lighter;
    letter-spacing: 5px;

}

  
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  