
.App-logo {
    height: calc(25px + 2vmin);
    pointer-events: none; 
    position: relative;
}
.logo-container {
    width: calc(30px + 2vmin);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-right: 1px;
}
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
  
.App-header {
    color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(3px + 2vmin);
}
h1 {
    font-family:'Orbitron','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
}

  
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  