
.display-text {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #61dafb;
    font-size: 70px;
    font-weight: lighter;
  }
  .display {
    height: 150px;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    min-height: 80x;
    text-align: end;
    white-space: nowrap;
  }